.navba{
    background-color: whitesmoke;
    color:black;
}
.comshead{
    color:black;
}
.news{
    background-color: whitesmoke;
}
.newarrivals{
    background-color: white;
    color:black;
}
.intheatresduplicate{
    color:black;
}
.intheatre3{
    color:black;
}
.whattowa{
    background-color: whitesmoke;
}
.toppic{
    color:black;
}
.fanfavourites{
    background-color: whitesmoke;
}
.top10head{
    color:black;
}
.ottplatform{
    background-color: whitesmoke;
}
.exploring{
    color:black;
}
.ottlisted{
    color:black;
}
.recent{
    background-color: whitesmoke;
}
.recentwatch{
    color:black;
}
