@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@0;1&family=Lato:wght@700&family=Oswald:wght@600&family=Roboto:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    
}
/* body{
    background-color: black;
} */


a{
    /* color: white; */
    text-decoration: none;
    color:inherit;
}
/* a:hover{
    
   
    color:#f5c518;
} */
#container{
    z-index: 10;
}
#image{
    width:100%;
    height:100%;
}
#buttonid{
    position: absolute;
    right: 0%;
    width: 10%;
    height: 15%;
    font-size: 3.5em;
    background-color: #504e4d;
    color: white;
}
#coupon{
    z-index: 50;
    width: 50%;
    height:50%;
    position:absolute;
    left:24%;
    top:30%;
}
header{
    background-color: black;
    color: white;
    /* height:12vh; */
    /* max-height:100%; */
   
    
}
 header nav{
    display: flex;
    margin:0 7vw;
    height:12vh;
    /* max-height:100%; */
    cursor: pointer;
    
}
header nav ul{
    float: left;
    display: flex;
    
}
.imdbicon{
    height:5vw;
    margin:0 15px;
}
.darklighticon{
    height:2.5vw;
    margin:14px 15px;

}
header nav ul li{
    list-style-type: none;
    margin:0 20px;
}
.watchlist{
    /* color:white; */
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    margin-top:18px;
    
}

.usericon{
    height: 3vw;
    border: 2px solid #fbdd53;
    border-radius: 30%;
}
.usericon1{
    margin-top: 12px;
}
.searchbar{
    margin-top: 20px;
    
}
.searchbar input{
        background-color: #504e4d;
        width: 31vw;
        margin-left: 13vw;
        height: 4vh;
        border-radius: 5px;
        padding:2px 4px;
        border:1px solid white;
        color:#c3bebe;
}

